#imageAgrandar {
    -fx-padding: 0px 0px 0px 240px;
}

#imageCerrar {
    -fx-padding: 0px 0px 0px 480px;
}

#imageCerrar:hover, #imageAgrandar:hover, #imageMinimizar:hover, #paneImageCuenta:hover, #paneimageCuentaHome:hover, #paneImageCampeones:hover, #paneImageEstadisticas:hover, #paneImageNotasParche:hover, #paneLabelNombreCuenta:hover, #paneLabelCuentaHome:hover, #paneLabelCampeones:hover, #paneLabelEstadisticas:hover, #paneLabelNotasParche:hover {
    -fx-cursor: hand;
}
#borderPanePrincipalCentro, #gridPrincipalMenu {
    -fx-background-color: #363A38;
}
#textFieldBuscador {
    -fx-background-color: #363A38;
    -fx-text-fill: #C0C2CB;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
    -fx-cursor: hand;
}
#labelNombreCuenta, #labelCuentaHome, #labelCampeones, #labelEstadisticas, #labelNotasParche {
    -fx-text-fill: #C0C2CB;
    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 700;

}

#gridPanePrincipalBarraBuscador, #gridPaneMenuFondo1, #gridPaneMenuFondo2, #gridPaneMenuFondo3, #gridPaneMenuFondo4, #gridPaneMenulabels, #gridPaneMenuImages {
    -fx-background-color: #3D4956;
}

#hBoxMensajeCuenta {
    -fx-background-color: #3D4956;
}

#labelMensajeCuenta {
    -fx-text-fill: #C0C2CB;
}

#labelMensajeCuenta:hover {
    -fx-text-fill: #e0e0e8;
    -fx-cursor: hand;
}

#labelRiftStatistics {
    -fx-min-width: 121px;
    -fx-min-height: 28px;
    -fx-pref-width: 121px;
    -fx-pref-height: 28px;
    -fx-max-width: 121px;
    -fx-max-height: 28px;

    -fx-font-family: 'Montserrat';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 18px;

    -fx-text-fill: #9E9E9E;
}

#labelCuentaHome, #labelNombreCuenta, #labelCampeones, #labelEstadisticas, #labelNotasParche {
    -fx-text-fill: #C0C2CB;
}