#borderPanePrincipal {
    -fx-border-radius: 15px;
}

#borderPanePrincipal {
    -fx-background-color: #363A38;
}

#gridPanePrincipalTop {
    -fx-background-color: #3D4956;
}

#labelDontHaveAcc {
    -fx-text-fill: #FFFFFF;
}

#labelSignIn {
    -fx-cursor: hand;
    -fx-text-fill: #3787FF;
}

#botonLogIn, #botonSigIn {
    -fx-cursor: hand;
    -fx-box-sizing: border-box;

    /* Auto layout */
    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-align-items: flex-start;
    -fx-padding: 10px 10px;
    -fx-gap: 10px;

    -fx-font-smoothing-type: auto;

    -fx-background-color: #E79F6E;
    -fx-border-color: #824D3B;
    -fx-border-width: 4px;
    -fx-border-radius: 15px;
    -fx-background-radius: 17px;

    -fx-min-width: 180px;
    -fx-max-width: 180px;
    -fx-min-height: 80px;
    -fx-max-height: 80px;
}

#labelPassword, #labelUsername, #labelEmail {
    -fx-text-fill: #FFFFFF;
}

#labelIncorrectPassword {
    -fx-text-fill: #FD3E3E;
}

#imageCerrarEmergente {
    -fx-cursor: hand;
}

#textAreaPassword, #textAreaUsername, #textAreaEmail {
    -fx-background-color: #6C706E;
    -fx-text-fill: #FFFFFF;
}