#gridPrincipalFondo, #textFieldBuscador {
    -fx-background-color: #363A38;
}

#gridPanePrincipalBarraBuscador, #gridPrincipalMenu {
    -fx-background-color: #3D4956;
}

#labelTitulo {
    -fx-text-fill: #A7A9B6;
    -fx-effect: dropshadow(gaussian, #D3D4DC, 2, 1, 0, 0);
    -fx-border-color: transparent;
    -fx-font-smoothing-type: auto;
    -fx-alignment: center;
}

#botonIniciarSesion {
    -fx-box-sizing: border-box;

    /* Auto layout */
    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-align-items: flex-start;
    -fx-padding: 22px 10px;
    -fx-gap: 10px;

    -fx-font-smoothing-type: auto;

    -fx-background-color: #E79F6E;
    -fx-border-color: #824D3B;
    -fx-border-width: 4px;
    -fx-border-radius: 15px;
    -fx-background-radius: 17px;
}

#labelDontLogin {
    -fx-text-fill: #FFFFFF;
}

#labelEnterGuest {
    -fx-text-fill: #3787FF;
}

#groupLabelsEnterGuest {
    -fx-background-color: #3787FF;
}

#imageAgrandar {
    -fx-padding: 0px 0px 0px 240px;
}

#imageCerrar {
    -fx-padding: 0px 0px 0px 480px;
}

#imageCerrar:hover, #imageAgrandar:hover, #imageMinimizar:hover, #labelEnterGuest:hover, #botonIniciarSesion:hover {
    -fx-cursor: hand;
}



